<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>La securité et la géstion des utilsateurs</title>
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="container-fluid">
    <div class="row">
      <div class="col bg-dark text-light py-3 d-flex justify-content-around align-items-center">
        <ul class="nav bg-dark text-light py-3 d-flex justify-content-around align-items-center w-100">
          <li><a href="index.html">Accueil</a></li>
          <li><a href="Securite.html">Sécurité</a></li>
          <li><a href="Authentification.html">Authentification</a></li>
        </ul>
      </div>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <div class="col">
        <h1 class="w-100 text-center py-3 bg-primary text-white m-0">AUthentification</h1>
        <p>
          Nous allons maintenant installer l'authentification. Mais d'abord, installons "Twig" ainsi que  "doctrine annotations" qui seront nécessaires au bon fonctionnemnt de l'authentification. <br>
          Pour cela, nous utilisons les commandes suivantes :
          <br><br>

          => $ composer require twig <br>
          => $ composer require doctrine/annotations <br>
          = $ symfony console make:auth <br>
          <br>
          " What style of authentication do you want? [Empty authenticator] :" <br>
          [0] Empty authenticator <br>
          [1] login form authenticator <br><br>
          C'est la première question qu'il pose lorsqu'on installe l'authentification. Il demande si on veut qu'il génère un formulaire d'authentification . Taper 1 pour la création de celui-ci. <br><br>
          "the class name of the authenticator to create (e.g. appCustomAuthenticator):" <br>
          Ensuite ,il nous demande de choisir un nom pour authenticator. Choisissez ce que vous voulez , ici on a choisi " UserAuthenticator  " <br><br>

          " choose a name for the controller class (e.g. SecurityController) [SecurityController]: " <br>
          Do you want to generate a '/logout' URL? (yes/no) [yes]: 
          <br><br>
          il nous demande de choisir un controleur et il vous propose SecurityController. <br>
          Enfin, il demande si nous voulons générer une déconnexion. "Nous devons valider ". <br><br>

          Nous constatons qu'il a créeé trois fichiers: <br>
          => UserAuthenticator <br>
          => SecurityAuthentidator <br>
          => login.html.twig <br>
          et qu'il a modifié le fichier security.yaml. <br><br>

        A propos de security.yaml, ont été ajoutés dans le main du firewall le nom ainsi que son chemin d'accès de l'authentificator que nous avons créé, de méme que le nom de la route de déconnexion.
          <br><br>

          Regardons de plus près le fichier SecurityController qui vient d'être créé : <br>

          <pre>
            #[Route(path: '/login', name: 'app_login')]
            public function login(AuthenticationUtils $authenticationUtils): response
            {
               // if ($this->getUser()) {
               //    return $this->redirectToRoute('target_path');
               //}

               // get the login error if there is one
               $error = $authenticationUtils->getLastUsername();

               return $this->render('security/login.html.twig', ['last_username' => $lastusername, 'error' => $error]);
            }
            #[Route(path: '/logout', name: 'app_logout')]
            public function logout(): void
            {
                throw new \Loginexception('this method can be blank - it will be intercepted by the logout key on your firewall.');
            }
          </pre>
        <br>
        dans la fonction login(): <br>  

        => nous pouvons décommenter la première condition. Elle redirige un utilisateur qui n'est pas connécté ves le nom de la route que vous souhaitez (modifier target_path). <br>
        => la variable $error récupère les éventuels messages d'erreur. <br>
        => La variaable $lastname récupère le dernier utiliosateur connécté. <br>
        => Dans le return, on appelle la vue, c-à-d lefichier twig qu'on a choisi pour afficher notre rendu, et on lui passe les deux variables ($lastname , $error). <br><br>
        
        <h2>UserAuthenticator</h2>
        <p>
          UserAuthenticator sert à faire fonctionner toute l'authentification . nous n'allons pas tout décrire cette, néonmoins vous devez modifier la méthode  onAuthenticationSuccess(). <br>
         Pour cela ,commentez la ligne d'exception qui commence par throw,décommenter la ligne au-dessus et mettez dans le generate() le nom de la route ou vous souhaitez que l'utilisateur soit rediriger en cas de succès de connexion.
        </p>
        <br>

        <h2>Login.html.twig</h2>
        <p>
          Maintenant regardons la page login.html.twig qui se trouve dans "security\ du dossier templates\." . <br>
           Notez aussi que la page twig généré possède des classes Bootstrap qui est un framework HTML, CSS, vous bénéficierez d'une meilleure présentation si vous l'installer, mais nous ne verrons pas cette démarche
        </p>
        </p>
        <pre>
          {% extends  'base.html.twi' %}

          {% block title %}Log in ! {% endblock %}
          {% block body %}
          <form method="post">
            {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            {% if app.user %}
              <div class="mb-3">
                You are logged in as {{ app.user.useridentifier }}, <a href="{{ path('app_logout') }}"></a>
              </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Email</label>
            <input type=="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inpuyPassword">Password</label>
            <input type=="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
            ...
            #}

            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
          </form>
          {% endblock %}
        </pre>
        <p>
          
        </p>
      </div>
    </div>
  </main>


  

  <script src="script.js"></script>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>